body {
  margin: auto;
}

.login-box {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
  width: 200px;
  margin: auto;
  margin-bottom: 5px;
}

#navimg {
  margin-top: 10px;
  width: 175px;
}

#home .row {
  margin-top: 15%;
}

.btn-blue {
  background-color: #3D7A99;
  color: white;
}

h4 {
  color: #142833;
}

input {
    width: 100%;
    height: 50px;
    margin: 5px 0;
    text-indent: 20px;
    font-size: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    text-indent: 0px;
}
.sidebar{
  background-color: #092F56;
  color: #fff;
  padding: 0px 10px;
}

#big-number {
    font-size: 5em;
    color: #66ccff;
  }

@media (min-width: 768px) {
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
  }
#big-number {
    font-size: 9em;
    color: #66ccff;
  }
}

.nav-items {
  list-style: none;
}
.nav-items li {
  padding: 5px 0px;
  font-size: 16px;
}
.nav-items li a {
  color: #fff;
}

.nav-items li a:hover {
  color: #66ccff;
  text-decoration: none;
}

.nav-items li a:active {
  color: #66ccff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.account-form {
  max-width: 500px;
}

.account-form label {
  padding-top: 5px;
  margin: 0;
}

.account-form button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text {
  text-decoration: none;
}
