<div class="col-sm-10 col-sm-offset-2 content">
    <h1>Summary</h1>
    <h3 class="center">
      Total Donations
    </h3>
    <p class="center">

<p id="big-number">${{total}} </p>
    </p>
    <h4 class="center">
      From {{model.length}} purchases
    </h4>

</div>
